.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-container {
    height: 50vh;
    width: 60%;
    background: red;
    position: relative;

    .p {
      background: green;
    }

    .text-navigation-container {
      position: absolute;
      bottom: 0;
      height: 10%;
      width: 100%;
      background: blue;
    }
  }
}
