.about {
  .about-glide-container {
    padding: 3%;

    .chapter {
      justify-content: center;
      display: block;

      .chapter-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
          text-align: center;
          font-size: 1.5rem;
          letter-spacing: 2px;
          font-family: $font-second;
        }

        p {
          padding: 20px;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $font-second;
          max-width: 1440px;
        }
      }

      .text-navigation-container {
        background: url("./img/assets/frise.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        height: 10vh;
        max-width: 1440px;
        margin: auto;

        button {
          transition: opacity 0.4s ease;
          width: 100%;

          .img {
            width: 100%;
            height: 100%;
            background: center / contain no-repeat
              url("./img/assets/about-button.png");
            transition: 0.2s linear;

            &.active {
              background: center / contain no-repeat
                url("./img/assets/about-button-clicked.png");
            }
          }
        }
      }
    }

    .arrow-navigation-container {
      padding-top: 20px;
      display: none;
      justify-content: space-evenly;

      button {
        font-size: 2rem;
      }

      h3 {
        font-family: $font-second;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .about {
    height: auto;

    .text-navigation-container {
      display: none !important;
    }
    .arrow-navigation-container {
      display: flex !important;
    }
  }
}
