.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-glide-container {
    width: 80%;
    margin-top: 20vh;

    .chapter {
      display: flex;
      align-items: center;
      justify-content: center;
      display: block;

      .chapter-container {
        img {
          height: 10%;
        }

        p {
          height: 20%;
          padding: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .text-navigation-container {
        background: url("./../img/assets/frise1.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        height: 10vh;

        button {
          background: none;
          border: none;

          &:hover {
            opacity: 0.5;
          }

          img {
            height: 100%;
          }
        }
      }
    }
  }
}
