footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  img {
    height: 30px;
    filter: grayscale(100%);
  }

  // .cardano-container {
  //   display: flex;
  //   gap: 20px;
  //   align-items: center;
  //   color: black;
  // }
}
