footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  h3 {
    font-family: $font-second;
    font-size: 0.8rem;
  }

  img {
    height: 40px;
    filter: grayscale(0%);
  }
}
