.glide {
  height: 80%;
  width: 40%;

  .glide__track {
    .glide__slide {
      display: flex;
      justify-content: center;
      position: relative;

      .nft-title-container {
        position: absolute;
        margin-top: 5px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      img {
        height: 70vh;
        border-radius: 3px;
        padding: 3%;
        transition: 1s ease;
        background: black;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
