.glide {
  height: 80%;
  width: 40%;

  .glide__track {
    transition: 1s ease;
    &:hover {
      transform: scale(1.1);
    }

    .glide__slide {
      display: flex;
      justify-content: center;
      position: relative;

      .nft-title-container {
        position: absolute;
        margin-top: 5%;
        font-size: 2rem;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      img {
        height: 70vh;
        border-radius: 3px;
        padding: 3%;
        background: black;
      }
    }
  }
}
