@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css");
// @import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.theme.css");

@font-face {
  font-family: "mainFont";
  src: url("../fonts/NauSea-yeMm.ttf") format("woff");
}

$font-color: white;
$background-color: black;
$navigation-hoover-color: gray;
$font-main: "mainFont", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $background-color;
  color: $font-color;
  scroll-snap-type: y proximity; // doesn't work

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.anchor-text-effect {
  color: white;
  background: linear-gradient(to right, gray, gray 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;

  &:hover {
    background-position: 0 100%;
  }
}

li {
  list-style: none;
  display: inline;
}

section {
  // doesn't work
  position: relative;
  scroll-snap-align: start;

  .title-container {
    padding-top: 10vh;
    font-size: 4rem;
    position: absolute;
    top: 0;
    right: 3%;
  }
}

header {
  scroll-snap-align: start;
}
