@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css");
// @import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.theme.css");
// @import url("../node_modules/locomotive-scroll/dist/locomotive-scroll.css");

@font-face {
  font-family: "mainFont";
  src: url("../fonts/NauSea-yeMm.ttf") format("woff");
}

$font-color: white;
$background-color: black;
$navigation-hoover-color: gray;
$font-main: "mainFont", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $background-color;
  color: $font-color;
  scroll-snap-type: y mandatory; // doesn't work

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  display: inline;
}

section {
  // doesn't work
  position: relative;

  .title-container {
    padding-top: 10vh;
    font-size: 4rem;
    position: absolute;
    top: 0;
    right: 3%;
  }
}
