@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.theme.css");
// @import url("../node_modules/locomotive-scroll/dist/locomotive-scroll.css");

@font-face {
  // voir si dispo avec une vraie url
  font-family: "mainFont";
  src: url("../fonts/NauSea-yeMm.ttf") format("woff");
}

// variable à redefinir avec evan
$black-color: black;
$white-color: white;
$navigation-hoover-color: gray;
$font-main: "mainFont", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

html {
  scroll-behavior: smooth;
}

html[data-direction="down"] nav {
  transform: translateY(-100%);
}

body {
  background: $black-color;
  color: $white-color;
  // min-width: 1300px;
  scroll-snap-type: y mandatory; // doesn't work

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

section {
  scroll-snap-align: start; // doesn't work
}

.title-container {
  padding-top: 10vh;
  font-size: 4rem;
  // letter-spacing: 0.2rem;
}
