header {
  height: 80vh;
  width: 100%;
  background: url("../img/assets/header-background.jpg") center/cover;
  display: grid;

  .header-container {
    display: flex;
    justify-content: center;

    .header-img-container {
      height: auto;
      width: 50%;
      position: relative;

      .perso {
        position: absolute;
        bottom: 4vh;
        transform: translateY(5px);
        height: 80%;

        img {
          height: 100%;
          width: auto;
          position: absolute;
          bottom: 0;
          transition: transform 2s;

          &.shadow {
            opacity: 1;
            transition: opacity 1.5s ease;

            &.hidden {
              opacity: 0;
            }

            &.cyborg-shadow {
              transition-delay: 100ms;
            }
            &.djinn-shadow {
              transition-delay: 300ms;
            }
            &.hunter-shadow {
              transition-delay: 500ms;
            }
            &.cat-shadow {
              transition-delay: 700ms;
            }
          }
        }
      }

      div:nth-child(1) {
        left: 0%;
      }
      div:nth-child(2) {
        left: 17%;
      }
      div:nth-child(3) {
        left: 34%;
      }
      div:nth-child(4) {
        left: 51%;
      }
    }

    .header-title-container {
      height: auto;
      width: 50%;
      position: relative;
      margin: 4%;

      .img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #title {
        background: center / contain no-repeat url("./../img/assets/title.png");
      }

      #title-light {
        background: center / contain no-repeat
          url("./../img/assets/title-glimmer.png");
        opacity: 0;
        animation: 5s linear glimmer infinite;
      }
    }
  }
}

@keyframes glimmer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1760px) {
  header {
    // height: 60vw;

    .header-img-container {
      display: none;
    }
    .header-title-container {
      width: 100% !important;

      img {
        max-height: 70%;
        min-width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  // header {
  //   height: 100vw;
  // }
}
