nav {
  width: 100%;
  padding: 8px;
  padding-inline: 5%;
  position: fixed;
  z-index: 10;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.075) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 1s ease;
  transform: translateY(0%);
  font-size: 2.8rem;

  &.hidden {
    transform: translateY(-100%);
  }

  img {
    height: 50px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .nav-links {
    ul {
      display: flex;
      align-items: center;
      gap: 3vw;

      li {
        display: flex;
        align-items: center;
      }
    }
  }

  .nav-toggle-button {
    padding: inherit;
    display: none;
  }

  .nav-mint-button {
    height: 50px;
    width: 90px;

    display: none;

    .img {
      width: 100%;
      height: 100%;
      background: center/cover url("./../img/assets/mint-button.png");

      &.active {
        background: center/cover url("./../img/assets/mint-button-clicked.png");
      }
    }
  }

  .nav-logos-container {
    position: absolute;
    right: 0px;
    padding: inherit;
    display: flex;

    justify-content: space-between;
    align-items: center;

    a {
      display: flex;
    }

    #logo-twitter {
      height: 45px;
    }
  }
}

@media only screen and (max-width: 995px) {
  nav {
    flex-direction: column;
    align-items: flex-start;

    &.active {
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    }

    .nav-toggle-button {
      display: flex !important;
    }

    .nav-links {
      width: 100%;
      height: 100vh;
      display: none;

      ul {
        padding-top: 6vh;
        width: 100%;
        flex-direction: column;
        gap: 6vh;
      }

      &.active {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
}
