.roadmap {

  display: none;

  .title-container {
    z-index: 5;
  }

  display: flex;
  flex-flow: column;
  background: url("./../public/img/assets/1.1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  .background-gradient {
    background: linear-gradient(
        180deg,
        rgb(0, 0, 0) 10%,
        rgba(0, 0, 0, 0.3) 50%
      ),
      linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.3) 50%);
    position: absolute;
    height: 101%;
    width: 100%;
    margin-top: -3px;
    margin-bottom: -3px;
  }

  .roadmap-container {
    width: 100%;
    position: relative;

    .line {
      height: 80vh;
      width: 10px;
      background: white;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
    }
  }
}
