.showcase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
      180deg,
      rgb(0, 0, 0) 0%,
      rgba(148, 148, 148, 0) 20%
    ),
    url("./../img/assets/bg2_low.jpg") center/cover;
  background-position: 95% 5%;

  .showcase-glide-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .crowd {
    background: url("./../img/assets/crowd.png") center/cover;
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: 60vh;
    width: 100%;
    pointer-events: none;
  }
}
