.showcase {
  position: relative;
  background: linear-gradient(
      180deg,
      rgb(0, 0, 0) 0%,
      rgba(148, 148, 148, 0) 20%
    ),
    url("./../img/assets/showcase-background.jpg") center/cover;
  background-position: 95% 5%;
  display: block;

  .showcase-glide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;

    .glide {
      height: 100%;
      min-width: 40%;

      .glide__track {
        transition: 1s ease;
        &:hover {
          transform: scale(1.02);
        }

        .glide__slide {
          display: flex;
          justify-content: center;
          position: relative;

          .nft-title-container {
            position: absolute;
            margin-top: 1%;
            font-size: 1.2em;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-family: $font-second;
          }

          img {
            max-height: 70vh;
            max-width: 80%;
            border-radius: 3px;
            padding: 10px;
            background: black;
            display: block;
            overflow: hidden;
          }
        }
      }
    }
  }

  .crowd {
    background: url("./../img/assets/crowd.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: 50%;
    width: 100%;
    pointer-events: none;
  }
}
