.showcase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
      180deg,
      rgb(0, 0, 0) 0%,
      rgba(148, 148, 148, 0) 20%
    ),
    url("./../img/assets/bg2_low.jpg") center/cover;
  background-position: 95% 5%;

  .showcase-glide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;

    .glide {
      height: 100%;
      width: 40%;

      .glide__track {
        transition: 1s ease;
        &:hover {
          transform: scale(1.02);
        }

        .glide__slide {
          display: flex;
          justify-content: center;
          position: relative;

          .nft-title-container {
            position: absolute;
            margin-top: 5%;
            font-size: 2rem;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }

          img {
            height: 70vh;
            border-radius: 3px;
            padding: 3%;
            background: black;
          }
        }
      }
    }
  }

  .crowd {
    background: url("./../img/assets/crowd.png") center/cover;
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: 60vh;
    width: 100%;
    pointer-events: none;
  }
}
