.team {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.01) 80%
  );

  .team-container {
    width: 100%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: auto;

    ul {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

      .team-unit {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 10px;

        .team-card {
          position: relative;

          img {
            padding: 2%;
            height: 100%;
            width: auto;
            background: black;
            border-radius: 3px;
          }

          h3 {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-40%);
            letter-spacing: 2px;
            font-family: $font-main;
            text-align: center;
          }
        }

        p {
          padding: 4%;
          width: 80%;
          font-family: $font-second;
          text-align: justify;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .team {
    height: auto;
  }
}
