@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.theme.css");
@font-face {
  font-family: "mainFont";
  src: url("../fonts/NauSea-yeMm.ttf") format("woff");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mainFont", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html[data-direction=down] nav {
  transform: translateY(-100%);
}

body {
  background: black;
  color: white;
  scroll-snap-type: y mandatory;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

section {
  scroll-snap-align: start;
}

.title-container {
  padding-top: 10vh;
  font-size: 4rem;
}

.navigation {
  height: 80vh;
  width: 100%;
  background: url("../img/assets/bg1.png") center/cover;
  display: grid;
}
.navigation li {
  display: inline;
}
.navigation nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
  font-size: 2.8rem;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.075) 0%, black 100%);
  transition: 1s ease;
  display: flex;
  transform: translateY(0%);
}
.navigation nav .nav-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.navigation nav .nav-container ul {
  position: absolute;
  left: 10%;
}
.navigation nav .nav-container ul li {
  margin-left: 30px;
  display: inline;
}
.navigation nav .nav-container ul li a {
  transition: color 0.3s ease-in-out;
}
.navigation nav .nav-container ul li a:hover {
  color: gray;
}
.navigation nav .logos-container {
  width: 10%;
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation nav .logos-container a {
  display: flex;
}
.navigation nav .logos-container a img {
  height: 50px;
}
.navigation nav .logos-container a img:hover {
  opacity: 0.7;
}
.navigation .navigation-container {
  display: flex;
}
.navigation .navigation-container .navigation-img-container {
  height: 100%;
  width: 50%;
  position: relative;
}
.navigation .navigation-container .navigation-img-container .navigation-perso {
  position: absolute;
  margin-left: -30px;
  bottom: 0;
  transform: translateY(5px);
}
.navigation .navigation-container .navigation-img-container .navigation-perso.cyborg {
  left: 0%;
}
.navigation .navigation-container .navigation-img-container .navigation-perso.djinn {
  left: 17%;
}
.navigation .navigation-container .navigation-img-container .navigation-perso.hunter {
  left: 34%;
}
.navigation .navigation-container .navigation-img-container .navigation-perso.cat {
  left: 51%;
}
.navigation .navigation-container .navigation-img-container .navigation-perso .shadow {
  opacity: 0;
}
.navigation .navigation-container .navigation-img-container img {
  height: 70vh;
  transition: transform 2s;
}
.navigation .navigation-container .navigation-logo-container {
  height: 100%;
  width: 50%;
  position: relative;
}
.navigation .navigation-container .navigation-logo-container img {
  height: 60vh;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation .navigation-container .navigation-logo-container #logo-light {
  opacity: 0;
  transition: opacity 1s ease;
}
.navigation .navigation-container .navigation-logo-container #logo-light:hover {
  opacity: 1;
}

@media only screen and (max-width: 1599px) {
  .cat {
    opacity: 0;
  }

  .navigation-logo-container {
    transform: scale(90%);
  }
}
@media only screen and (max-width: 1225px) {
  .hunter {
    opacity: 0;
  }

  .navigation-logo-container {
    transform: scale(80%) translateX(-80px);
  }
}
@media only screen and (max-width: 995px) {
  .djinn {
    opacity: 0;
  }

  .navigation-logo-container {
    transform: scale(80%) translateX(-100px);
  }
}
.showcase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("./../img/assets/bg2.jpg") center/cover;
  background-position: 90% 10%;
}
.showcase .neon {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 2;
  opacity: 1;
  background: linear-gradient(180deg, #3926ff 0%, rgba(148, 148, 148, 0) 100%);
  animation: 8s infinite neon;
}
.showcase .neon.stop_ {
  display: none;
  opacity: 0;
  transition: 1s;
}
.showcase .title-container {
  text-align: right;
  padding-right: 3%;
}
.showcase .showcase-glide-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes neon {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.about {
  height: 100vh;
}
.about .title-container {
  text-align: right;
  padding-right: 30px;
}

.glide {
  height: 80%;
  width: 40%;
}
.glide .glide__track .glide__slide {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.glide .glide__track .glide__slide .nft-title-container {
  position: absolute;
  margin-top: 5px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.glide .glide__track .glide__slide img {
  height: 70vh;
  border-radius: 3px;
  transition: 1s ease;
}
.glide .glide__track .glide__slide img:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
