@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Poiret+One&family=Roboto+Mono:wght@200&display=swap");
@font-face {
  font-family: "mainFont";
  src: url("../fonts/NauSea-yeMm.ttf") format("woff");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mainFont", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.anchor-text-effect:hover {
  color: gray;
}

li {
  list-style: none;
  display: inline;
}

button {
  background: transparent;
  border: none;
}

section {
  position: relative;
}
section .title-container {
  padding-top: 10vh;
  font-size: 4rem;
  position: absolute;
  top: 0;
  right: 3%;
}

nav {
  width: 100%;
  padding: 5px;
  position: fixed;
  z-index: 10;
  font-size: 2.8rem;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.075) 0%, black 100%);
  transition: transform 1s ease;
  transform: translateY(0%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.hidden {
  transform: translateY(-100%);
}
nav img {
  height: 50px;
  transition: opacity 0.3s ease-in-out;
}
nav img:hover {
  opacity: 0.7;
}
nav .links ul {
  display: flex;
  align-items: center;
  padding: 0 5% 0 5%;
}
nav .links ul li {
  padding: 0 3% 0 3%;
}
nav .toggle-button {
  padding-left: 5%;
  display: none;
}
nav .toggle-button img {
  height: 40px;
}
nav .logos-container {
  position: absolute;
  right: 0px;
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
}
nav .logos-container a {
  display: flex;
}

@media only screen and (max-width: 995px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .toggle-button {
    display: flex !important;
  }
  nav .links {
    width: 100%;
    height: 100vh;
    display: none;
  }
  nav .links ul {
    padding-top: 30px;
    width: 100%;
    flex-direction: column;
  }
  nav .links.active {
    display: flex;
  }
}
header {
  height: 80vh;
  width: 100%;
  background: url("../img/assets/BG2.jpg") center/cover;
  display: grid;
}
header .navigation-container {
  display: flex;
  justify-content: center;
}
header .navigation-container .navigation-img-container {
  height: 100%;
  width: 50%;
  position: relative;
}
header .navigation-container .navigation-img-container .perso {
  position: absolute;
  bottom: 4vh;
  transform: translateY(5px);
  height: 80%;
}
header .navigation-container .navigation-img-container .perso img {
  height: 100%;
  width: auto;
  position: absolute;
  bottom: 0;
  transition: transform 2s;
}
header .navigation-container .navigation-img-container .perso img.shadow {
  opacity: 1;
  transition: opacity 1.5s ease;
}
header .navigation-container .navigation-img-container .perso img.shadow.hidden {
  opacity: 0;
}
header .navigation-container .navigation-img-container .perso img.shadow.cyborg-shadow {
  transition-delay: 100ms;
}
header .navigation-container .navigation-img-container .perso img.shadow.djinn-shadow {
  transition-delay: 300ms;
}
header .navigation-container .navigation-img-container .perso img.shadow.hunter-shadow {
  transition-delay: 500ms;
}
header .navigation-container .navigation-img-container .perso img.shadow.cat-shadow {
  transition-delay: 700ms;
}
header .navigation-container .navigation-img-container div:nth-child(1) {
  left: 0%;
}
header .navigation-container .navigation-img-container div:nth-child(2) {
  left: 17%;
}
header .navigation-container .navigation-img-container div:nth-child(3) {
  left: 34%;
}
header .navigation-container .navigation-img-container div:nth-child(4) {
  left: 51%;
}
header .navigation-container .navigation-logo-container {
  height: 100%;
  width: 50%;
  position: relative;
}
header .navigation-container .navigation-logo-container img {
  width: 95%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .navigation-container .navigation-logo-container #logo-light {
  opacity: 0;
  animation: 5s linear glimmer infinite;
}

@keyframes glimmer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 1760px) {
  .navigation-img-container {
    display: none;
  }

  .navigation-logo-container {
    width: 80% !important;
  }
}
.showcase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(180deg, black 0%, rgba(148, 148, 148, 0) 20%), url("./../img/assets/bg2_low.jpg") center/cover;
  background-position: 95% 5%;
}
.showcase .showcase-glide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.showcase .showcase-glide-container .glide {
  height: 100%;
  min-width: 40%;
}
.showcase .showcase-glide-container .glide .glide__track {
  transition: 1s ease;
}
.showcase .showcase-glide-container .glide .glide__track:hover {
  transform: scale(1.02);
}
.showcase .showcase-glide-container .glide .glide__track .glide__slide {
  display: flex;
  justify-content: center;
  position: relative;
}
.showcase .showcase-glide-container .glide .glide__track .glide__slide .nft-title-container {
  position: absolute;
  margin-top: 5%;
  font-size: 2rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "mainFont", sans-serif;
}
.showcase .showcase-glide-container .glide .glide__track .glide__slide img {
  height: 70vh;
  border-radius: 3px;
  padding: 10px;
  background: black;
}
.showcase .crowd {
  background: url("./../img/assets/crowd.png") center/cover;
  position: absolute;
  bottom: 0;
  z-index: 5;
  height: 60vh;
  width: 100%;
  pointer-events: none;
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-glide-container {
  width: 80%;
  margin-top: 20vh;
}
.about .about-glide-container .chapter {
  display: flex;
  justify-content: center;
  display: block;
}
.about .about-glide-container .chapter .chapter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .about-glide-container .chapter .chapter-container h3 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: "Roboto Mono", monospace;
}
.about .about-glide-container .chapter .chapter-container p {
  padding: 30px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}
.about .about-glide-container .chapter .text-navigation-container {
  background: url("./../img/assets/frise1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 10vh;
}
.about .about-glide-container .chapter .text-navigation-container button {
  background: none;
  border: none;
  transition: opacity 0.4s ease;
  cursor: pointer;
  width: 100%;
}
.about .about-glide-container .chapter .text-navigation-container button .img {
  width: 100%;
  height: 100%;
  background: center/contain no-repeat url("./../img/assets/button.png");
  transition: 0.2s linear;
}
.about .about-glide-container .chapter .text-navigation-container button .img.active {
  background: center/contain no-repeat url("./../img/assets/button_clicked.png");
}

.team {
  min-height: 100vh;
  background: linear-gradient(0deg, red 0%, rgba(255, 255, 255, 0.01) 80%);
  position: relative;
}
.team .team-container {
  position: absolute;
  bottom: 40%;
  transform: translateY(50%);
  width: 100%;
  display: flex;
}
.team .team-container .team-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team .team-container .team-unit .team-card {
  position: relative;
}
.team .team-container .team-unit .team-card img {
  padding: 2%;
  background: black;
  border-radius: 3px;
}
.team .team-container .team-unit .team-card h3 {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-40%);
  letter-spacing: 2px;
  font-family: "mainFont", sans-serif;
}
.team .team-container .team-unit p {
  padding: 4%;
  width: 80%;
  font-family: "Roboto Mono", monospace;
}

footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
footer h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
}
footer img {
  height: 40px;
  filter: grayscale(0%);
}

/*# sourceMappingURL=style.css.map */
